body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #171c1f;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1167px;
  margin: 0 auto;
}

/* HEADER */

.header {
  width: 100%;
  height: 65px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background: #F4AA3A;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding-top: 17px;
}

/* NAV */

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 30px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  padding-top: 22px;
  color: #171c1f;
}

.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;

  background-color: #171c1f;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__profile {
  width: 15px;
  height: 15px;
}

/* LOGIN */

.login {
  width: 100%;
  height: 574px;
  margin-top: 130px;
}

.login__title {
  padding-top: 108px;
  padding-left: 534px;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.login__input {
  margin-bottom: 33px;
  margin-left: 384px;
}

.login__input input {
  width: 50%;
  height: 45px;
  border: 1px solid #00000066;
  border-radius: 5px;
  padding-left: 16px;
  font-size: 18px;
}

.login__button {
  width: 140px;
  height: 45px;
  margin-left: 502px;
  border: 1px solid #A6CA82;
  border-radius: 5px;
  background: #A6CA82;
  font-size: 18px;
  text-align: center;
  padding-top: 12px;
  margin-bottom: 14px;
}

.login__inner {
  display: flex;
  justify-content: center;
  margin-left: -26px;
}

.login__subtitle2 {
  padding-left: 4px;
  color: #7E0707;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 156px;
  background: #1B2733;
}

.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns {
  width: 42px;
  height: 42px;
  margin-top: 36px;
  margin-right: 22px;
  filter: invert(1);
}

.footer__subtitle {
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
}
