body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #171c1f;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1167px;
  margin: 0 auto;
}

/* HEADER */

.header {
  width: 100%;
  height: 65px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background: #F4AA3A;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding-top: 17px;
}

/* NAV */

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 30px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  padding-top: 22px;
  color: #171c1f;
}

.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;

  background-color: #171c1f;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__profile {
  width: 15px;
  height: 15px;
}

/* GENERAL BLOCK FOR NEWS */

.news__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news {
  width: 316px;
  height: 253px;
  border: 1px solid #e5e7e8;
  border-radius: 10px;
}

.news:hover {
  background: linear-gradient(to bottom, #F4AA3A, #ffffff);
  opacity: .9;
}

.news__img {
  width: 314px;
  height: 165px;
  border-radius: 10px 10px 0px 0px;
}

.news__title {
  font-size: 19px;
  padding: 15px 10px;
}

/* NEWS FIRST LINE */

.news_1_line {
  width: 100%;
  height: 254px;
  margin-top: 130px;
}

/* NEWS SECOND LINE */

.news_2_line {
  width: 100%;
  height: 254px;
  margin-top: 66px;
  margin-bottom: 64px;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 156px;
  background: #1B2733;
}

.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns {
  width: 42px;
  height: 42px;
  margin-top: 36px;
  margin-right: 22px;
  filter: invert(1);
}

.footer__subtitle {
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
}
