body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #171c1f;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1167px;
  margin: 0 auto;
}

/* HEADER */

.header {
  width: 100%;
  height: 65px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background: #F4AA3A;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding-top: 17px;
}

/* NAV */

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 30px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  padding-top: 22px;
  color: #171c1f;
}

.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;

  background-color: #171c1f;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__profile {
  width: 15px;
  height: 15px;
}

/* A COMMON BLOCK FOR MOVIE */

.movie__title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.movie__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie {
    width: 260px;
    height: 388px;
    border-radius: 10px;
    transition: transform .2s linear;
}

.movie:hover {
  transform: translate3d(0px, -6px, 0px);
}

.movie_title {
  color: #505050;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

/* NOW PLAYING */

.now {
  width: 100%;
  height: 574px;
  margin-top: 130px;
}

/* OPENING THIS WEEK */

.opening {
  width: 100%;
  height: 574px;
}


/* COMING SOON */

.coming {
  width: 100%;
  height: 574px;
}

.movie_title__coming {
  color: #505050;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 156px;
  background: #1B2733;
}

.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns {
  width: 42px;
  height: 42px;
  margin-top: 36px;
  margin-right: 22px;
  filter: invert(1);
}

.footer__subtitle {
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
}
